.header-top-outer{
    height: 20px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    font-size: 12px;
    padding: 20px;
}
.header-main-outer{
    height: 80px;
    width: 90%;
    margin: 0 auto;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    height: 100%;
}
.logo img{
    height: 100%;
}


.search-outer{
    height: 50px;
    width: 40%;
    display: flex;
    border: 2px solid #5D1C32;
    border-radius: 12px;
}
.header-seach-input{
    height: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 16px;
    color: #5D1C32;
    width: 85%;
    border-radius: 10px 0px 0px 10px;
}
.search-icon{
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    width: 15%;
    background-color: #5D1C32;
    color: white;
    border: none;
    outline: none;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-btns{
    height: 100%;
    width: 12%;
    display: flex;
}
.header-login-btn{
    height: 100%;
    width: 50%;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.header-login-btn>span{
    font-size: 12px;
    color: #5D1C32;
    cursor: pointer;
}

.header-cart-btn{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
}
.header-cart-btn>span{
    font-size: 12px;
    color: #5D1C32;
    cursor: pointer;
}

.header-cart-count{
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 18px !important;
    font-weight: 400;
    background-color: #5D1C32;
    color: white !important;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.header-bottom-menu{
    height: 40px;
    width: 100%;
    background-color: #5D1C32;
    
}
.header-bottom-menu>ul{
    height: 100%;
    width: 60%;
    margin: 0 10%;
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}
.navlinks{
    color: white;
    text-decoration: none;
}